/* styles for the mobile-first strategy */


/* styles for the body */
body
{
  background-color: #ffff99;
}

/* styles for fluid image */
img
{
  max-width: 100%;
}

/* styles for container id */
#container
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* styles for header */
header
{
  margin-top: 0.2em;
/*  we can also give code for the color as #ffffff */
  background-color: white;
  border-radius: 0.5em;
  text-align: center;

}

/* styles for the nav item */
nav
{
  font-family: Georgia, "Times New Roman", serif;
  /* em is the default font size so 1.25em means 1.25 times the default value */
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

/* style for the unorderd list inside the nav */
nav ul
{
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* add styles for list items inside the nav */

nav li
{
  background-color: #009933;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

/* add styles for the anchor tah inside the list item which is inside nav */
nav li a
{
  color: #ffffff;
  text-decoration: none;
}

/* add styles for the mobile class */

.mobile
{
  display: inline;
}

/* style for the desktop class */

.desktop
{
  display: none;
}

/* styles for the main */
main
{
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 1em;
  background-color: white;
  border-top: solid 0.2em #009933;
  border-bottom: solid 0.2em #009933;
}

footer
{
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
}

/* styles for the tablet class */
.tablet
{
  display: none;
}
/* styles for the equip class */
.equip
{
  display: none;
}

/* clear the heading coming after the classes that is float left */
/* h1
{
  clear: left;
} */

ul
{
  margin-bottom: 50px;
  list-style-position: inside;
}

dt
{
  font-weight: bold;
}

dd
{
  margin-bottom: 20px;
}
